<div class="border">
  <nav class="navbar navbar-expand-lg
                    navbar-light bg-light">
    <a class="nav-brand" href="#">link</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Pagina Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 text-center" style="background-color: blueviolet">
      <p>Metade da tela um</p>
    </div>
    <div class="col-md-2 text-center" style="background-color: brown">
      <p>Metade da tela dois</p>
    </div>
  </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/bootstrap/js/bootstrap.min.js"></script>
